.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: -webkit-fill-available;
  background-color: #293742;
  align-items: stretch;
}

.item {
  flex: 1 0 45%;
  width: 50%;
  margin: 2em;
}